@media (max-width: 768px) {
  /* Inverte a ordem apenas no Ramos Tattoo */
  html, body {
    overflow-x: hidden;
  }

  .project{
    margin-left: 2000px;
  }
  .header{
    display: none;
    position: fixed;
  }

  .project_content{
    margin-top: 200px;
    margin-left: -200px;
  }

   .img_individual .image_project img{
    border-radius: 50% !important;
    margin-left: 100px;
    
  }

  .group{
    margin-left: 0px;
    max-width: 100%;
    background-color: green;
  }

}

@media (max-width: 375px) {
  .group{
    margin-left: -15px;
    max-width: 100%;
  }

  .group1{
    margin-left: -15px;
    max-width: 100%;
  }

  .teste{
    transform: translateX(15px);
  }
}

@media (max-width: 320px) {

  .group{
    display: grid;
    row-gap: 12px; 
    transform: scale(0.85);
    transform-origin: top left;
  }
}
